
$primary: rgb(37, 56, 60);
$secondary: rgb(0, 57, 114); 
$primary-opacity-8: rgba(37, 70, 60, 0.8);
$gray: #E6E6E6;
$sale: rgba(167, 4, 4, 0.487);


$theme-colors: (
  "primary": $primary,
  "primary-opacity-8": $primary-opacity-8,
  "gray": $gray,
  "sale": $sale
);

// Create your own map
$custom-color: (
  "icon-background": rgba(24, 127, 105, 0.2)
);

// Merge maps
$theme-colors: map-merge($theme-colors, $custom-color);


$utilities: (
  "rounded": (
    property: border-radius,
    class: rounded,
    values: (
      null: 1rem,
      circle: 50%
    )
  )
);


// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here



.site-header{
.aws-search-field {
font-size: 0.9rem;
padding-left: 1.4rem;
border-radius: 20px!important;
    }
}

/* Main Menu */
.main-navigation {
    font-weight: 600;

    .current-menu-item {
        background-color: rgb(37, 56, 60);
    }

a {
    color: var(--bs-white);
    padding: 0.6rem 1.4rem;
}

a:hover {
    background-color: rgb(0, 100, 120);
}

.menu-toggle{
    background-color: $primary;
    color: $white;
    border: none;
}

}